<footer> 
    <div class="icons">
        <a class="icon" href="/"><i class="fa-brands fa-square-facebook"></i></a>
        <a class="icon" href="/"><i class="fa-brands fa-square-instagram"></i></a>
        <a  class="icon" href="/"><i class="fa-brands fa-x-twitter"></i></a> 
    </div>
    <div  class="name">
        <p class="airbnb">&copy:</p>
        <p class="airbnb">Air-bnb , Inc</p>
    </div>
    <div>
       <ul  class="detail">  
        <li class="dtl">Privacy</li>
        <li class="dtl">Terms</li>
        <li class="dtl">Sitemap</li>
        <li class="dtl">Company details</li>
       </ul>
    </div>
</footer>